<div class="wrapper">
    <div class="container">
        <div class="left">
            <app-left-content></app-left-content>
        </div>
        <div class="right">
            <app-right-content></app-right-content>
            <app-teams></app-teams>
            <h1>hi</h1>
        </div>
        <!-- <div class="left">
            <app-left-content></app-left-content>
            <h1>Together We Rise,  <br/> United We Conquer!</h1>
            <p>Welcome to Bohol FC! As members of this incredible club, you embody the spirit, passion, and dedication that
            make our team exceptional. Every training session, every match, every goal—it's a step towards greatness. Let's embrace
            the challenges, support one another, and strive for excellence.</p>
            <button mat-flat-button style="font-size: 14px; padding: 10px" color="primary" class="register">JOIN US</button>
        </div> -->
        <!-- <div class="right">
            <app-teams></app-teams>
        </div> -->
    </div>
</div>