<div class="wrapper">
    <div class="container">
        <div class="media-screen">
            <mat-tab-group [backgroundColor]="'warn'" mat-stretch-tabs="false" mat-align-tabs="center" mat-stretch-tabs>
                <mat-tab label="Latest">
                    <app-right-content></app-right-content>
                </mat-tab>
                <mat-tab label="League">
                    <app-left-content></app-left-content>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="left">
            <app-left-content></app-left-content>
        </div>
        <div class="right">
            <app-right-content></app-right-content>
        </div>
    </div>
</div>