$background-image: '../../../../assets/background_image2.jpg'

.wrapper 
  background-image: url(#{$background-image})
  width: 100%
  height: 100% 
  background-size: cover 
  // background-position: center 
  background-repeat: no-repeat 
  display: flex
  justify-content: center
  .container
    display: flex
    width: 90%
    height: 100%
    justify-content: space-between
    margin-top: 150px
    gap: 10px
    .left
        color: #111074
        width: 30%
        padding: 20px
    .right
        color: #111074
        width: 70%
        padding: 20px
.media-screen
  display: none

@media screen and (max-width: 600px)
  .media-screen
    display: block
    width: 100%
  .left
    display: none
  .right
    display: none


@media screen and (max-width: 1200px)
  .media-screen
    display: block
    width: 100%
  .left
    display: none
  .right
    display: none

