$background-image: '../../../../assets/background_image2.jpg'

.wrapper 
  background-image: url(#{$background-image})
  width: 100%
  height: 100% 
  background-size: cover 
  background-position: center 
  background-repeat: no-repeat 
  display: flex
  justify-content: center
  .container
    padding-top: 150px
    display: flex
    width: 90%
    height: 100%
    justify-content: space-between
    gap: 10px
    .left
        color: #111074
        width: 30%
        padding: 20px
    .right
        color: #111074
        width: 70%
        padding: 20px
    
    // .left
    //     width: 30%
    //     background-color: red
    //     display: flex
    //     flex-direction: column
    //     justify-content: center
    //     p
    //         margin: 0
    //         font-size: 16px
    //         font-weight: 200
    //         color: #dbe1e4
    //         line-height: 1.5
    //         letter-spacing: 2px
    //     h1
    //         margin: 0
    //         font-size: 32px
    //         font-weight: bold
    //         color: #FFFFFF
    //         line-height: 1.5
    //     button
    //         width: 50%
    //         background-color: #B1001A
    //         margin-top: 10px
    // .right
    //     width: 70%
    //     display: flex
    //     flex-direction: column
    //     justify-content: center
    //     background-color: blue
        
