<div class="wrapper">
    <div *ngIf="leagues.length > 0; else NoLeagueMatches">
        <div class="container">
            <mat-card class="matches">
                <app-matches></app-matches>
            </mat-card>
            <mat-card class="leagues">
                <div class="body">
                    <app-leagues></app-leagues>
                </div>
            </mat-card>
        </div>
    </div>
    <ng-template #NoLeagueMatches>
        <div class="header">
            <div class="title-container">
                <h2>No League Posted Yet</h2>
            </div>
        </div>
    </ng-template>
</div>