<div class="wrapper">
    <div class="container">
        <mat-card class="card">
            <!-- <div class="header">
                
            </div> -->
            <div class="body">
                <h3>SUN 19 MAY 2024</h3>
                <p>PREMIER LEAGUE</p>
                <div class="score-container">
                    <div class="team">
                        <img [src]="'https://florify.online/uploads/website/logo.png'" alt="team" width="50px">
                        <p>INABANGA</p>
                    </div>
                    <div class="score">
                        <p>2</p>
                        <span>:</span>
                        <p>1</p>
                    </div>
                    <div class="team">
                        <img [src]="'https://florify.online/uploads/website/logo.png'" alt="team" width="50px">
                        <p>CLARIN</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="matches">
                    <span>View All Matches</span>
                    <mat-icon>arrow_right_alt</mat-icon>
                </div>
            </div>
        </mat-card>

        <mat-card class="leagues">
            <div class="header">
                <h1>League</h1> 
            </div>
            <div class="body">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> Pos </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef> Team </th>
                        <td mat-cell *matCellDef="let element"> {{element.team}} </td>
                    </ng-container>
                    <ng-container matColumnDef="played">
                        <th mat-header-cell *matHeaderCellDef> Played </th>
                        <td mat-cell *matCellDef="let element"> {{element.played}} </td>
                    </ng-container>
                    <ng-container matColumnDef="gd">
                        <th mat-header-cell *matHeaderCellDef> GD </th>
                        <td mat-cell *matCellDef="let element"> {{element.gd}} </td>
                    </ng-container>
                    <ng-container matColumnDef="points">
                        <th mat-header-cell *matHeaderCellDef> Points </th>
                        <td mat-cell *matCellDef="let element"> {{element.points}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div class="footer">
                <div class="matches">
                    <span>View More</span>
                    <mat-icon>arrow_right_alt</mat-icon>
                </div>
            </div>
        </mat-card>
        <div class="media-screen">
            <mat-card>
                <!-- <div class="header">
                    
                </div> -->
                <div class="body">
                    <h3>SUN 19 MAY 2024</h3>
                    <p>PREMIER LEAGUE</p>
                    <div class="score-container">
                        <div class="team">
                            <img [src]="'https://florify.online/uploads/website/logo.png'" alt="team" width="50px">
                            <p>INABANGA</p>
                        </div>
                        <div class="score">
                            <p>2</p>
                            <span>:</span>
                            <p>1</p>
                        </div>
                        <div class="team">
                            <img [src]="'https://florify.online/uploads/website/logo.png'" alt="team" width="50px">
                            <p>CLARIN</p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="matches">
                        <span>View All Matches</span>
                        <mat-icon>arrow_right_alt</mat-icon>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>