.squad-container
    display: flex
    flex-direction: column
    gap: 20px
    color: #37003C
    h1
        font-weight: bold
        letter-spacing: 3px
    .player-cards
        display: flex
        gap: 20px
        .player-card
            width: 300px
            .player-images
                display: flex
                justify-content: center
                .player-image
                    width: 220px
                    height: 280px
                    object-fit: cover