.wrapper
    display: flex
    justify-content: center
    .container
        width: 90%
        margin-top: 200px
        align-items: center
        align-content: center
        .header
            display: flex
            justify-content: center
        .body
            display: flex
            justify-content: center
            .image
                display: flex
                justify-content: center
    .content
        display: flex
        justify-content: center

@media (max-width: 1200)
    .wrapper
        display: flex
        justify-content: center
        .container
            width: 90%
            margin-top: 200px
            align-items: center
            align-content: center
            .header
                display: flex
                justify-content: center
            .body
                display: flex
                justify-content: center
                .image
                    display: flex
                    justify-content: center

