.wrapper
    min-height: 80vh
    display: flex
    justify-content: center
    margin-top: 150px
    .container
        margin-top: 100px
        width: 60%
        background-color: red
        display: flex
        justify-content: space-between
        gap: 10px