<!-- src/app/register/register.component.html -->
<div class="wrapper">
  <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="title">Register</div>
      <div class="form-group">
        <label>First Name</label>
        <mat-form-field class="form-field" appearance="outline">
          <input matInput type="text" id="given_name" formControlName="given_name" placeholder="Name">
          <div *ngIf="submitted && f['given_name'].errors" class="invalid-feedback">
            <div *ngIf="f['given_name'].errors['required']">First name is required</div>
          </div>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="family_name">Last Name</label>
        <mat-form-field class="form-field" appearance="outline">
          <input matInput type="text" id="family_name" formControlName="family_name" placeholder="Last Name">
          <div *ngIf="submitted && f['family_name'].errors" class="invalid-feedback">
            <div *ngIf="f['family_name'].errors['required']">Last name is required</div>
          </div>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <mat-form-field class="form-field" appearance="outline">
          <input matInput type="email" id="email" formControlName="email" placeholder="Email">
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
            <div *ngIf="f['email'].errors['emailExists']">Email already exists</div>
          </div>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <mat-form-field class="form-field" appearance="outline">
          <input matInput type="password" id="password" formControlName="password" placeholder="Password">
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters long</div>
          </div>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <mat-form-field class="form-field" appearance="outline">
          <input matInput type="password" id="confirm_password" formControlName="confirm_password"
            placeholder="Password">
          <div *ngIf="submitted && f['confirm_password'].errors" class="invalid-feedback">
            <div *ngIf="f['confirm_password'].errors['required']">Confirm password is required</div>
            <div *ngIf="f['confirm_password'].errors['mustMatch']">Passwords must match</div>
          </div>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-flat-button color="primary" type="button" [routerLink]="'/login'" class="btn btn-primary">Sign in</button>
        <button mat-flat-button color="accent" type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>