<div class="wrapper">
    <div class="container">
        <ng-container *ngIf="teamData">
            <div class="header">
                <div class="header-left">
                    <img mat-card-image [src]="imagePath + teamData.file_name" alt={{teamData.file_name}} width="100px">
                    <div class="title">
                        <h1>{{ teamData.team }}</h1>
                        <p>{{ teamData.coach }}</p>
                        <p>{{ teamData.place }}</p>
                    </div>
                </div>
                <button mat-flat-button extended color="primary" [routerLink]="'/admin/teams'">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    Back
                </button>
            </div>
        </ng-container>
        <div class="body">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="left" [backgroundColor]="'warn'">
                <mat-tab label="Gallery">
                    <div class="content">
                        <app-gallery></app-gallery>
                    </div>
                </mat-tab>
                <mat-tab label="About">
                    <div class="content">
                        <app-overview></app-overview>
                    </div>
                </mat-tab>
                <mat-tab label="Squads">
                    <div class="content">
                        <app-squads></app-squads>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>