.wrapper
    min-height: 100vh
    padding-top: 136px
    .container
        .header
            background: linear-gradient(to right, #170BB0,#6C13E0, #FE0103 )
            display: flex
            justify-content: center
            color: #FFFFFF
            h1
                margin: 2% 10%
                letter-spacing: 5px
                font-weight: 600
                font-size: 32px
        .body
            table
                width: 80%
            .team-container
                display: flex
                align-items: center
                gap: 10px
    