.wrapper
    width: 100wh
    display: flex
    justify-content: center
    .container
        width: 65%

        .footer
            position: absolute
            bottom: 0
            background-color: #DA197C
            width: 65%
            display: flex
            justify-content: center
            padding: 20px
            color: #FFFFFF


