<mat-grid-list cols="4" rowHeight="450px" class="grid-content">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
        <div class="box">
            <div class="image">
                <img [src]="tile.img" alt="feature" width="100%" [height]="tile.height">
            </div>
            <h1>{{ tile.title }}</h1>
            <p>{{ tile.paragraph }}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="300px" class="grid-content-mobile">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
        <div class="box">
            <div class="image">
                <img [src]="tile.img" alt="feature" width="100%" [height]="tile.height">
            </div>
            <h1>{{ tile.title }}</h1>
            <p>{{ tile.paragraph }}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

