<div class="wrapper">
    <div mat-dialog-title class="title">Team Details</div>
    <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
        <div mat-dialog-content class="content">
            <div class="row">
                <div class="logo">
                    <img *ngIf="imagePath" [src]="imagePath" alt="Uploaded Image" width="300px">
                    <span>Logo</span>
                    <input type="file" (change)="onFileSelected($event)">
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Team</mat-label>
                    <input matInput placeholder="Team" formControlName="team">
                    <mat-error *ngIf="teamForm.get('team')?.hasError('required') && teamForm.get('team')?.touched">
                        Team is required
                    </mat-error>
                    <mat-error *ngIf="teamForm.get('team')?.hasError('minlength') && teamForm.get('team')?.touched">
                        Team must be at least 3 characters long
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Slug</mat-label>
                    <input matInput placeholder="Slug" formControlName="slug">
                    <mat-error *ngIf="teamForm.get('slug')?.hasError('required') && teamForm.get('slug')?.touched">
                        Slug is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Coach</mat-label>
                    <input matInput placeholder="Coach" formControlName="coach">
                    <mat-error *ngIf="teamForm.get('coach')?.hasError('required') && teamForm.get('coach')?.touched">
                        Coach is required
                    </mat-error>
                    <mat-error *ngIf="teamForm.get('coach')?.hasError('minlength') && teamForm.get('coach')?.touched">
                        Coach must be at least 3 characters long
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Place</mat-label>
                    <input matInput placeholder="Place" formControlName="place">
                    <mat-error *ngIf="teamForm.get('place')?.hasError('required') && teamForm.get('place')?.touched">
                        Place is required
                    </mat-error>
                    <mat-error *ngIf="teamForm.get('place')?.hasError('minlength') && teamForm.get('place')?.touched">
                        Place must be at least 3 characters long
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="actions">
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
            <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
        </div>
    </form>
</div>