<div class="wrapper">
    <div class="container">
        <div class="header">
            <button mat-flat-button extended color="primary" [routerLink]="'/admin/leagues'">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Back
            </button>
            <button mat-flat-button color="primary" (click)="openDialog()">
                ADD LEAGUE TEAMS
            </button>
        </div>
        <h1>Title</h1>
        <div class="body">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> Position </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="team_id">
                    <th mat-header-cell *matHeaderCellDef> Team </th>
                    <td mat-cell *matCellDef="let element" class="team-content">
                        <img *ngIf="element.team.file_name" [src]="imagePath + element.team.file_name" alt={{element.team.file_name}} width="50px">
                        {{element.team.team}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="played">
                    <th mat-header-cell *matHeaderCellDef> Played </th>
                    <td mat-cell *matCellDef="let element"> {{element.played}} </td>
                </ng-container>
                <ng-container matColumnDef="won">
                    <th mat-header-cell *matHeaderCellDef> Won </th>
                    <td mat-cell *matCellDef="let element"> {{element.won}} </td>
                </ng-container>
                <ng-container matColumnDef="drawn">
                    <th mat-header-cell *matHeaderCellDef> Drawn </th>
                    <td mat-cell *matCellDef="let element"> {{element.drawn}} </td>
                </ng-container>
                <ng-container matColumnDef="lost">
                    <th mat-header-cell *matHeaderCellDef> Lost </th>
                    <td mat-cell *matCellDef="let element"> {{element.lost}} </td>
                </ng-container>
                <ng-container matColumnDef="goals_for">
                    <th mat-header-cell *matHeaderCellDef> GF </th>
                    <td mat-cell *matCellDef="let element"> {{element.goals_for}} </td>
                </ng-container>
                <ng-container matColumnDef="goals_against">
                    <th mat-header-cell *matHeaderCellDef> GA </th>
                    <td mat-cell *matCellDef="let element"> {{element.goals_against}} </td>
                </ng-container>
                <ng-container matColumnDef="goals_difference">
                    <th mat-header-cell *matHeaderCellDef> GD </th>
                    <td mat-cell *matCellDef="let element"> {{element.goals_difference}} </td>
                </ng-container>
                <ng-container matColumnDef="points">
                    <th mat-header-cell *matHeaderCellDef> Points </th>
                    <td mat-cell *matCellDef="let element"> {{element.points}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSource && dataSource.data.length === 0" class="no-data-content">
                <p>No record data found</p>
            </div>
        </div>
    </div>
</div>