<div class="wrapper">
    <ng-container *ngIf="data">
        <div class="container">
            <div class="header">
                <div class="logo">
                    <img mat-card-image [src]="imagePath + data.file_name" alt={{data.file_name}} width="50px">
                </div>
                <div class="header-content">
                    <h2 class="title">{{ data.team }}</h2>
                    <p>Coach: {{ data.coach }} | {{ data.place }}</p>
                </div>
            </div>
            <div class="content">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                    <mat-tab label="Overview">
                        <div class="body">Coming Soon</div>
                    </mat-tab>
                    <mat-tab label="Squad">
                        <div class="squad-container">
                            <app-squads></app-squads>
                        </div>
                    </mat-tab>
                    <mat-tab label="Fixures">
                        <div class="body">Coming Soon</div>
                    </mat-tab>
                    <mat-tab label="Results">
                        <div class="body">Coming Soon</div>
                    </mat-tab>
                    <mat-tab label="Stats">
                        <div class="body">Coming Soon</div>
                    </mat-tab>
                    <mat-tab label="Season History">
                        <div class="body">Coming Soon</div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="footer">
                
            </div>
        </div>
    </ng-container>
</div>