.wrapper
    .container
        margin-top: 150px
        .header
            background-color: #46001A
            padding: 50px 100px
            font-weight: 700
            color: #FFFFFF
            display: flex
            align-items: center
            gap: 20px
            .logo
                img
                    width: 100px
            .header-content
                .title
                    font-size: 3.1rem
                    letter-spacing: 5px
                p
                    letter-spacing: 5px
                    font-size: 18px
                    font-weight: 200