.wrapper
    .container
        margin-top: 150px
        .header
            display: flex
            justify-content: center
            width: 100%
            background-color: #46001A
            color: #FFFFFF
            h1
                margin: 2% 10%
                letter-spacing: 5px
                font-weight: bold
                font-size: 32px
        .content
            padding: 10px
            display: flex
            justify-content: center

@media (max-width: 600px) 
    .wrapper
        .container
            margin-top: 100px
            .header
                h1
                    margin: 5% 10%


