.wrapper
    display: flex
    justify-content: center
    .container
        width: 90%
        margin-top: 150px
        align-items: center
        align-content: center
        .header
            display: flex
            justify-content: center
            width: 100%
            background-color: #46001A
            color: #FFFFFF
            h1
                margin: 2% 10%
                letter-spacing: 5px
                font-weight: bold
                font-size: 32px
        .content
            padding: 10px
            display: flex
            justify-content: center

@media (max-width: 600)


