<div class="features">
  <div class="header">
    <h2>Features</h2>
    <div class="right-text" routerLink="/news"> <p>More News</p> 	<mat-icon>arrow_right_alt</mat-icon></div>
   
  </div>
  
  <mat-grid-list cols="3" rowHeight="400px" class="grid-content">
    <mat-grid-tile
      *ngFor="let tile of dataSource"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
    >
      <div class="box" [routerLink]="'/news/' + tile.id">
        <div class="image">
          <img
            [src]="imagePath + tile.file_name"
            alt="{{ tile.file_name }}"
            [height]="tile.height"
          />
        </div>
        <h1>{{ tile.title }}</h1>
        <p>{{ tile.description }}</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-grid-list cols="3" rowHeight="500px" class="grid-content-mobile">
  <mat-grid-tile
    *ngFor="let tile of dataSource"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
  >
    <div class="box" [routerLink]="'/news/' + tile.id">
      <div class="image">
        <img
          [src]="imagePath + tile.file_name"
          alt="{{ tile.file_name }}"
          width="100%"
          [height]="tile.height"
        />
      </div>
      <h1>{{ tile.title }}</h1>
      <p>{{ tile.description }}</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
