<div class="wrapper">
  <div class="header">
    <h2>Features</h2>
    <div class="more-news" [routerLink]="'/news'">
      <p>More News</p>
      <mat-icon>arrow_right_alt</mat-icon>
    </div>
  </div>
  <div class="container">
    <div class="content-container" *ngFor="let data of featureData | slice:0:3">
      <div class="content" [routerLink]="'/news/' + data.id">
        <div class="image" *ngIf="data.file_name; else noImage">
          <img *ngIf="imagePath" [src]="imagePath + data.file_name" alt="Club News">
        </div>
        <ng-template #noImage>
          <div class="image-logo">
            <img *ngIf="imageLogoPath" [src]="imageLogoPath + 'logo.png'" alt="Team Logo">
          </div>
        </ng-template>
        <div class="club-content">
          <h1 class="title">{{ data.title }}</h1>
          <p class="description">{{ data.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>