.wrapper
    display: flex
    justify-content: center
    .container
        margin-top: 150px
        align-items: center
        align-content: center
        .desktop
            .header
                display: flex
                justify-content: center
                width: 100%
                background-color: #46001A
                color: #FFFFFF
                h1
                    margin: 2% 10%
                    letter-spacing: 5px
                    font-weight: bold
                    font-size: 32px
            .body
                display: flex
                justify-content: center
                flex-direction: column
                align-items: center
                gap: 10px
                margin-top: 10px
                margin-bottom: 10px
                .card
                    display: flex
                    justify-content: center
                    align-content: center
                    align-items: center
                    cursor: pointer
                    width: 80%
                    .card-content
                        display: flex
                        align-items: center
                        width: 100%
                        gap: 30px
                        img
                            border-radius: 10px
                    &:hover
                        img
                            transition: transform 0.3s
                            transform: scale(0.0.5)
                            border-radius: 10px
                        .card-body   
                            .title
                                font-size: 14px
                                line-height: 1.5
                            .subtitle
                                font-size: 12px
                                line-height: 1.5
                    &:hover
                        h1
                            text-decoration: underline          
.mobile-device
    display: none




@media (max-width: 1200px)
    .wrapper
        display: flex
        justify-content: center
        .container
            width: 100%
            align-items: center
            align-content: center
            .desktop
                display: none
            .mobile-device
                display: block
                .header
                    display: flex
                    flex-direction: column
                    justify-content: center
                    width: 100%
                    background-color: #46001A
                    color: #FFFFFF
                    h1
                        margin: 2% 10%
                        letter-spacing: 5px
                        font-weight: bold
                        font-size: 32px
                .body
                    display: flex
                    justify-content: center
                    flex-direction: column
                    align-items: center
                    gap: 10px
                    margin-top: 10px
                    margin-bottom: 10px
                    .card
                        display: flex
                        flex-direction: column
                        justify-content: center
                        align-content: center
                        align-items: center
                        cursor: pointer
                        width: 100%
                        padding: 10px
                        .card-content
                            display: flex
                            flex-direction: column
                            justify-content: center
                            align-items: center
                            width: 100%
                            gap: 30px
                            .card-body
                                display: flex
                                flex-direction: column
                                justify-content: center
                                align-items: center
                            img
                                border-radius: 10px
                        &:hover
                            img
                                transition: transform 0.3s
                                transform: scale(0.0.5)
                                border-radius: 10px
                            .card-body   
                                .title
                                    font-size: 14px
                                    line-height: 1.5
                                .subtitle
                                    font-size: 12px
                                    line-height: 1.5
                        &:hover
                            h1
                                text-decoration: underline  