<div class="wrapper">
  <div class="container">
    <div class="header">
      <h1>News</h1>
    </div>
    <div class="body">
      <div class="search" id="item2">
        <mat-form-field appearance="outline" class="search-content">
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Search"
            #input
            class="search-input"
          />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="news-content">
        
      </div>
    </div>
  </div>
</div>
