.wrapper
    padding: 20px
    .title
        display: flex
        align-items: center
        gap: 5px
    form
        .actions
            display: flex
            justify-content: space-between
        .row
            display: flex
            flex-direction: column
            gap: 10px
