<div class="wrapper">
    <div class="container">
        <div class="menu">
            <div class="items">
                <div class="item">FOOTBALL LEAGUE</div>
                <div class="item" (mouseover)="toggleMenu(1)">LATEST</div>
                <div *ngIf="isMenuOpen[1]" class="menu-list">
                    <div class="menu-item-content">
                        CONTENT LATEST
                    </div>
                </div>
            
                <div class="item" (mouseover)="toggleMenu(2)">TEAMS</div>
                <div *ngIf="isMenuOpen[2]" class="menu-list">
                    <div class="menu-item-content">
                        CONTENT TEAMS
                    </div>
                </div>
            
                <div class="item" (mouseover)="toggleMenu(3)">THE CLUB</div>
                <div *ngIf="isMenuOpen[3]" class="menu-list">
                    <div class="menu-item-content">
                        CONTENT THE CLUB
                    </div>
                </div>
            
                <div class="item" (mouseover)="toggleMenu(4)">BRACKETS</div>
                <div *ngIf="isMenuOpen[4]" class="menu-list">
                    <div class="menu-item-content">
                        CONTENT BRACKETS
                    </div>
                </div>
            
                <div class="item">CONTACT</div>
            </div>
            <div class="right-items">
                <div class="login">LOGIN</div>
                <div class="register">REGISTER</div>
            </div>
        </div>
        
    </div>
</div>