<div class="wrapper">
    <div class="container">
        <div class="menu">
            <div class="items">
                <div class="item" [routerLink]="'/'">FOOTBALL LEAGUE</div>
                <div class="item" (mouseover)="toggleMenu(1)">LATEST</div>
                <div *ngIf="isMenuOpen[1]" class="menu-list">
                    <div class="menu-item-content">
                        CONTENT LATEST
                    </div>
                </div>
            
                <div class="item" (mouseover)="toggleMenu(2)">TEAMS</div>
                <div *ngIf="isMenuOpen[2]" class="menu-list">
                    <div class="menu-item-content">
                        CONTENT TEAMS
                    </div>
                </div>
            
                <div class="item" (mouseover)="toggleMenu(3)">THE CLUB</div>
                <div *ngIf="isMenuOpen[3]" class="menu-list">
                    <div class="menu-item-content">
                        CONTENT THE CLUB
                    </div>
                </div>
            
                <div class="item" (mouseover)="toggleMenu(4)">BRACKETS</div>
                <div *ngIf="isMenuOpen[4]" class="menu-list">
                    <div class="menu-item-content">
                        CONTENT BRACKETS
                    </div>
                </div>
            
                <div class="item">CONTACT</div>
            </div>
            <div class="right-items">
                <div *ngIf="!isAuthenticated" class="login" [routerLink]="'/login'">SIGN IN</div>
                <!-- <div *ngIf="!isAuthenticated" class="register">REGISTER</div> -->
                <div *ngIf="user" class="auth">
                    <button mat-flat-button class="team-button" [routerLink]="'/team'">Create a team</button>
                    <div>
                        <button mat-button (click)="toggleDropdown()">Welcome, {{ user.given_name }} <mat-icon>keyboard_arrow_down</mat-icon></button>
                        <mat-card *ngIf="showDropdown">
                            <mat-selection-list>
                                <mat-list-item (click)="logout($event)"><mat-icon matListItemIcon>logout</mat-icon> Logout</mat-list-item>
                            </mat-selection-list>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobileMenu">
            <div class="content">
                <div class="right-items">
                    <div *ngIf="!isAuthenticated" class="login" [routerLink]="'/login'">SIGN IN</div>
                    <!-- <div *ngIf="!isAuthenticated" class="register">REGISTER</div> -->
                    <div *ngIf="user" class="auth">
                        <h2>Welcome, {{ user.given_name }}</h2>
                       
                    </div>
                </div>
                <div class="items">
                    <div class="item" [routerLink]="'/'">FOOTBALL LEAGUE</div>
                    <div class="item" [routerLink]="'/'">LATEST</div>
                    <div class="item" [routerLink]="'/'">TEAMS</div>
                    <div class="item" [routerLink]="'/'">THE CLUB</div>
                    <div class="item" [routerLink]="'/'">BRACKETS</div>
                    <div class="item" [routerLink]="'/'">CONTACT</div>
                </div>
            </div>
        </div>
    </div>
</div>