.wrapper
    .container
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center
        .menu 
            display: flex
            padding-right: 20px
            justify-content: space-between
            align-items: baseline
            width: 100%
            .right-items
                display: flex
                margin-right: 20px
                align-items: center
                .login
                    font-size: 14px
                    font-weight: 400
                    line-height: 1.4285714286
                    letter-spacing: 2px
                    cursor: pointer
                    margin-left: 10px
                .register
                    font-size: 14px
                    font-weight: 400
                    line-height: 1.4285714286
                    letter-spacing: 2px
                    cursor: pointer
                    margin-left: 10px
                .auth
                    display: flex
                    align-items: baseline
                    gap: 20px
                    h1
                        margin: 0
                        padding: 0
                        color: #0F0E6A
                    .team-button
                        background-color: #0F0E6A
                        color: #FFFFFF
                    button
                        font-size: 16px
            .items
                display: flex
                flex-wrap: wrap

                .item 
                    display: inline-flex
                    align-items: center
                    font-size: 16px
                    cursor: pointer
                    line-height: 3.33
                    padding: 15px 15px
                    cursor: pointer
                    color: #0F0E6A
                    font-weight: 500

        .mobileMenu
            display: none

@media screen and (max-width: 600px) 
    .wrapper
        .container
            .menu
                display: none
            .mobileMenu
                display: block
                .content
                    overflow-y: auto
                    max-height: calc(100vh - 50px)
                    padding-right: 15px
                .login
                    font-size: 18px
                    padding: 10px
                    h1
                        color: #0F0E6A
                        font-weight: 600
                        font-size: 18px
                .logout
                    padding: 20px
                    button
                        background-color: #0F0E6A
                        color: #FFFFFF
                        width: 200px
                .items
                    display: flex
                    flex-direction: column
                    .item 
                        display: inline-flex
                        align-items: center
                        font-size: 14px
                        cursor: pointer
                        line-height: 3.33
                        padding: 5px 5px
                        cursor: pointer
                        color: #0F0E6A
                        font-weight: 500

    

@media screen and (max-width: 900px)
    .wrapper
        .container
            .menu
                display: none
            .mobileMenu
                display: block
                .content
                    overflow-y: auto
                    max-height: calc(100vh - 50px)
                    padding-right: 15px
                .login
                    font-size: 18px
                    padding: 10px
                    h1
                        color: #0F0E6A
                        font-weight: 600
                        font-size: 18px
                .logout
                    padding: 20px
                    button
                        background-color: #0F0E6A
                        color: #FFFFFF
                        width: 200px
                .items
                    display: flex
                    flex-direction: column
                    .item 
                        display: inline-flex
                        align-items: center
                        font-size: 14px
                        cursor: pointer
                        line-height: 3.33
                        padding: 5px 5px
                        cursor: pointer
                        color: #0F0E6A
                        font-weight: 500
                    a
                        text-decoration: none
                    .sub-menu
                        gap: 5px
                    .menu-text
                        color: #0F0E6A


@media screen and (min-width: 900px) and (max-width: 1200px)
    .wrapper
        .container
            height: 100%
            display: flex
            justify-content: space-between
            align-items: center
            .menu 
                display: flex
                padding-right: 20px
                justify-content: space-between
                align-items: baseline
                width: 100%
                .right-items
                    display: flex
                    margin-right: 20px
                    align-items: center
                    .login
                        font-size: 11px
                        font-weight: 400
                        line-height: 1.4285714286
                        letter-spacing: 2px
                        cursor: pointer
                        margin-left: 10px
                    .register
                        font-size: 14px
                        font-weight: 400
                        line-height: 1.4285714286
                        letter-spacing: 2px
                        cursor: pointer
                        margin-left: 10px
                    .auth
                        display: flex
                        align-items: baseline
                        gap: 20px
                        h1
                            margin: 0
                            padding: 0
                            color: #0F0E6A
                        .team-button
                            background-color: #0F0E6A
                            color: #FFFFFF
                        button
                            font-size: 14px
                .items
                    display: flex
                    flex-wrap: wrap
                    .item 
                        font-size: 11px
                        cursor: pointer
                        line-height: 3.33
                        padding: 25px 10px
                        cursor: pointer
                        color: #0F0E6A
                        font-weight: 500
                    

                    // .menu-list 
                    //     position: absolute
                    //     top: calc(100%)
                    //     left: 0
                    //     background-color: #0F0E6A
                    //     color: white
                    //     opacity: 10
                    //     list-style: none
                    //     display: none
                    //     width: 100%
                    //     opacity: 0
                    //     transition: opacity 0.3s ease
                    //     height: 200px
                        
                    //     .menu-item-content
                    //         padding: 5% 10%
                        
                    

                    // .item:hover + .menu-list,
                    // .menu-list:hover 
                    //     display: block
                    //     opacity: 1
                    //     transition-delay: 0s
            
            .mobileMenu
                display: none
                