.wrapper
    min-height: 80vh
    display: flex
    justify-content: center
    margin-top: 150px
    .container
        margin-top: 100px
        width: 60%
        display: flex
        justify-content: space-between
        gap: 10px
        .signin
            width: 50%
            .title
                background-color: #FE0103
                font-size: 20px
                text-align: center
                padding: 10px
                color: #FFFFFF

            .field
                margin-top: 10px
                display: flex
                flex-direction: column
                span
                    font-weight: 500
                    letter-spacing: 2px
            .forgot
                display: flex
                justify-content: space-between
                align-items: baseline
                a
                    color: red
                    font-weight: 500
                    letter-spacing: 2px
                button
                    background-color: #1e1d7c
                    color: #FFFFFF
                    width: 200px
                    border-radius: 0
                    &:hover
                        background-color: #0F0E6A
            .loginWith
                margin-top: 20px
                display: flex
                align-items: baseline
                gap: 20px
                .line
                    width: 200px
                    border-bottom: solid 1px rgb(228,228,228)
                span
                    font-weight: 500
                    letter-spacing: 2px
            .social
                margin-top: 20px
                display: flex
                justify-content: space-between
                gap: 10px
                .google-container
                    width: 100%
                .facebook-container
                    width: 100%
        .register
            width: 50%
            .title
                background-color: #FE0103
                font-size: 20px
                text-align: center
                padding: 10px
                color: #FFFFFF
            .content
                margin-top: 10px
                background-color: #F5F5F5
                padding: 20px
                button
                    background-color: #1e1d7c
                    color: #FFFFFF
                    width: 100%
                    border-radius: 0
                    &:hover
                        background-color: #0F0E6A
