<div class="wrapper">
    <div class="container">
        <div class="signin">
            <div class="title">Sign In</div>
            <div class="field">
                <span>Email</span>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email">
                </mat-form-field>
            </div>
            <div class="field">
                <span>Password</span>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password">
                </mat-form-field>
            </div>
            <div class="forgot">
                <a href="">Forgot password</a>
                <button mat-flat-button>Sign in</button>
            </div>
            <div class="loginWith">
                <div class="line"></div>
                <span>or login with</span>
                <div class="line"></div>
            </div>
            <div class="social">
                <div class="google-container">
                    <app-google></app-google>
                </div>
                <div class="facebook-container">
                    <app-facebook></app-facebook>
                </div>  
            </div>
        </div>
        <div class="register">
            <div class="title">Register</div>
            <div class="content">
                <p>Don't have a Bohol Football Club account?</p>
                <button mat-flat-button [routerLink]="'/register'">Register</button>
            </div>
        </div>
            

    </div>
</div>
