<div class="wrapper">
    <div class="container">
        <div class="signin">
            <div class="title">Sign In</div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="field">
                    <span>Email</span>
                    <mat-form-field class="example-full-width">
                        <input matInput type="email" id="email" formControlName="email">
                        <div *ngIf="submitted && f['email'].errors" class="error">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="field">
                    <span>Password</span>
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" id="password" formControlName="password">
                        <div *ngIf="submitted && f['password'].errors" class="error">
                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                            <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters long</div>
                        </div>
                    </mat-form-field>
                </div>
                <div class="error-container">
                    <div *ngIf="submitted && f['password'].errors" class="error">
                        <div *ngIf="f['password'].errors['invalidCredentials']">Invalid Credentials</div>
                    </div>
                </div>
                <div class="forgot">
                    <!-- <a href="">Forgot password</a> -->
                    <button mat-flat-button type="submit">Sign in</button>
                </div>
            </form>
            <div class="loginWith">
                <div class="line"></div>
                <span>or login with</span>
                <div class="line"></div>
            </div>
            <div class="social">
                <div class="google-container" id="google-btn">
                    <!-- <app-google></app-google> -->
                </div>
                <div class="facebook-container" >
                    <div (login)="loginWithFacebook()" class="fb-login-button" data-width="400px" data-size="large" data-button-type="continue_with"
                        data-layout="" data-auto-logout-link="false" data-use-continue-as="false"></div>
                    <!-- <button class="btn btn-facebook" (click)="loginWithFacebook()">
                        <i class="fa fa-facebook me-1"></i>
                        Login with Facebook
                    </button> -->
                    <!-- <app-facebook></app-facebook> -->
                </div>  
            </div>
        </div>
        <div class="register">
            <div class="title">Register</div>
            <div class="content">
                <p>Don't have a Bohol Football Club account?</p>
                <button mat-flat-button [routerLink]="'/register'">Register</button>
            </div>
        </div>
            

    </div>
</div>
