<div class="wrapper">
    <div class="container">
        <div class="body">
            <form [formGroup]="contentForm" (ngSubmit)="onSubmit()">
                <div class="content">
                    <div class="row">
                        <mat-form-field appearance="outline" class="select-content">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option value="Draft">Draft</mat-option>
                                <mat-option value="Published">Published</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="contentForm.get('status')?.hasError('required') && contentForm.get('status')?.touched">
                                About status is required
                            </mat-error>
                        </mat-form-field>
                        <div class="news-content">
                            <quill-editor
                                [modules]="modules"
                                [style]="{ height: '430px', width: '100%' }"
                                [placeholder]="'Enter full content here...'"
                                formControlName="desktop_content"
                                (onEditorCreated)="getEditorInstance($event)"
                            ></quill-editor>
                        </div>
                    </div>
                </div>
                <button mat-fab extended color="primary" type="submit"><mat-icon>save</mat-icon> {{ aboutData ? 'Update' : 'Save' }}</button>
            </form>
        </div>
    </div>
</div>