.wrapper
    padding: 20px
    .header
        display: flex
        align-items: baseline
        justify-content: space-between
        margin-top: 20px
        .search
            width: 50%
            .search-content
                width: 100%
                .search-input
                    width: 100%
        