.wrapper
    width: 100%
    h1
        color: #FFFFFF
    .container
        width: 100%
        display: flex
        flex-wrap: wrap
        gap: 10px   
        .card
            width: 30%
            .card-content
                display: flex
                align-items: center
                gap: 10px
                .card-body
                    .title
                        font-size: 14px
                        line-height: 1.5
                    .subtitle
                        font-size: 12px
                        line-height: 1.5


