.wrapper
    display: flex
    justify-content: center
    .container
        width: 90%
        margin-top: 150px
        align-items: center
        align-content: center
        .desktop
            .header
                display: flex
                justify-content: center
                width: 100%
                background-color: #46001A
                color: #FFFFFF
                h1
                    margin: 2% 10%
                    letter-spacing: 5px
                    font-weight: bold
                    font-size: 32px
            .teams
                margin-top: 10px
                margin-bottom: 300px
                display: flex
                flex-wrap: wrap
                gap: 10px
                justify-content: center
                


            .card
                width: 30%
                .card-content
                    display: flex
                    align-items: center
                    gap: 10px
                    border-radius: 5px
                    &:hover
                        background-color: #46001A
                        cursor: pointer
                        .title
                            color: #fff
                        .subtitle
                            color: #fff
                    .card-body
                        .title
                            font-size: 14px
                            line-height: 1.5
                        .subtitle
                            font-size: 12px
                            line-height: 1.5

.mobile-device
    display: none

@media (max-width: 600px) 
    .mobile-device
        display: block
        .header
            display: flex
            justify-content: center
            width: 100%
            background-color: #46001A
            color: #FFFFFF
            h1
                margin: 2% 10%
                letter-spacing: 5px
                font-weight: bold
                font-size: 32px

        .teams
            margin-top: 10px
            margin-bottom: 10px
            justify-content: center
            gap: 10px
            .card
                width: 100%
                margin-bottom: 10px
                .card-content
                    .card-body
                        .title
                            font-size: 14px
                            line-height: 1.5
                        .subtitle
                            font-size: 12px
                            line-height: 1.5
    .desktop
        display: none


