<div class="wrapper">
    <div class="container">
        <div class="desktop-footer">
            
        <div class="items">
            <div class="header">
              <h2>Bohol Football League</h2>
          </div>
              <div class="item">
                  <ul>
                      <li [routerLink]="'/'"><a>Home</a></li>
                      <li ><a>Fixtures</a></li>
                      <li><a>Results</a></li>
                      <li><a>Tables</a></li>
                      <li><a>Stats</a></li>
                      <li [routerLink]="'/news'"><a>News</a></li>
                  </ul>
                  <ul>
                      <li>Video</li>
                      <li>Watch Live</li>
                      <li [routerLink]="'/clubs'">Clubs</li>
                      <li>Players</li>
                      <li>Transfers</li>
                      <li>Awards</li>
                  </ul>
              </div>
              
          </div>

          <div class="items">
              <div class="header">
                  <h2>Football & Community</h2>
              </div>
              
              <div class="item">
                  <ul>
                      <li>Wider Football</li>
                      <li>BFL Charitable Fund</li>
                      <li>Community</li>
                      <li>Youth Development</li>
                      <li>Mental Health</li>
                      <li>Rainbow Laces</li>
                  </ul>
              </div>
          </div>
          
          <div class="items">
              <div class="header">
                  <h2>About</h2>
              </div>
              
              <div class="item">
                  <ul>
                      <li>Overview</li>
                      <li>What we do</li>
                      <li>Who are we</li>
                      <li>Partners</li>
                      <li>Publications</li>
                      <li>Careers</li>
                  </ul>
              </div>
          </div>
          <div class="items">
              <div class="header">
                  <h2>Stats</h2>
              </div>
              
              <div class="item">
                  <ul>
                      <li>Dashboard</li>
                      <li>Player Stats</li>
                      <li>Club Stats</li>
                      <li>All-time Stats</li>
                      <li>Milestones</li>
                      <li>Records</li>
                      <li>Head-to-Head</li>
                      <li>Player Comparison</li>
                      <li>Awards</li>
                  </ul>
              </div>
          </div>
          <div class="items">
              <div class="header">
                  <h2>More</h2>
              </div>
              <div class="item">
                  <ul>
                      <li>History</li>
                      <li>Hall of Fame</li>
                      <li>BFL</li>
                      <li>Referees</li>
                      <li>Managers</li>
                      <li>FAQs</li>
                      <li>Contact Us</li>
                  </ul>
              </div>
          </div>
          <div class="items">
              <div class="header">
                  <h2>Social</h2>
              </div>
              <div class="item">
                  <ul>
                      <li ><a href="https://www.facebook.com/boholfootballleague"><mat-icon class="custom-icon">facebook</mat-icon></a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
        <div class="mobile-footer">
            
              <div class="row">
                <div class="items">
                    <div class="header">
                      <h2>Bohol Football League</h2>
                  </div>
                <div class="item">
                    <ul>
                        <li [routerLink]="'/'"><a>Home</a></li>
                        <li ><a>Fixtures</a></li>
                        <li><a>Results</a></li>
                        <li><a>Tables</a></li>
                        <li><a>Stats</a></li>
                        <li [routerLink]="'/news'"><a>News</a></li>
                    </ul>
                    <ul>
                        <li>Video</li>
                        <li>Watch Live</li>
                        <li [routerLink]="'/clubs'">Clubs</li>
                        <li>Players</li>
                        <li>Transfers</li>
                        <li>Awards</li>
                    </ul>
                </div>
                </div>
                <div class="items">
                    <div class="header">
                        <h2>Football & Community</h2>
                    </div>
                    
                    <div class="item">
                        <ul>
                            <li>Wider Football</li>
                            <li>BFL Charitable Fund</li>
                            <li>Community</li>
                            <li>Youth Development</li>
                            <li>Mental Health</li>
                            <li>Rainbow Laces</li>
                        </ul>
                    </div>
                </div>
                  
            
            
            </div>
            
                  
              <div class="row">
                
              <div class="items">
                <div class="header">
                    <h2>About</h2>
                </div>
                
                <div class="item">
                    <ul>
                        <li>Overview</li>
                        <li>What we do</li>
                        <li>Who are we</li>
                        <li>Partners</li>
                        <li>Publications</li>
                        <li>Careers</li>
                    </ul>
                </div>
            </div>
            <div class="items">
                <div class="header">
                    <h2>Stats</h2>
                </div>
                
                <div class="item">
                    <ul>
                        <li>Dashboard</li>
                        <li>Player Stats</li>
                        <li>Club Stats</li>
                        <li>All-time Stats</li>
                        <li>Milestones</li>
                        <li>Records</li>
                        <li>Head-to-Head</li>
                        <li>Player Comparison</li>
                        <li>Awards</li>
                    </ul>
                </div>
            </div>
              </div>

              <div class="row">
                <div class="items">
                    <div class="header">
                        <h2>More</h2>
                    </div>
                    <div class="item">
                        <ul>
                            <li>History</li>
                            <li>Hall of Fame</li>
                            <li>BFL</li>
                            <li>Referees</li>
                            <li>Managers</li>
                            <li>FAQs</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
                <div class="items">
                    <div class="header">
                        <h2>Social</h2>
                    </div>
                    <div class="item">
                        <ul>
                            <li ><a href="https://www.facebook.com/boholfootballleague"><mat-icon class="custom-icon">facebook</mat-icon></a>
                            </li>
                        </ul>
                    </div>
                </div>
          </div>
              </div>
              
        

    </div>
</div>
