<div class="wrapper">
    <div mat-dialog-title class="title">League Information</div>
    <form [formGroup]="leagueForm" (ngSubmit)="onSubmit()">
        <div mat-dialog-content class="content">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Title" formControlName="title">
                    <mat-error *ngIf="leagueForm.get('title')?.hasError('required') && leagueForm.get('title')?.touched">
                        League title is required
                    </mat-error>
                    <mat-error *ngIf="leagueForm.get('title')?.hasError('minlength') && leagueForm.get('title')?.touched">
                        League title must be at least 3 characters long
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="Draft">Draft</mat-option>
                        <mat-option value="Posted">Posted</mat-option>
                        <mat-option value="Cancelled">Cancelled</mat-option>
                        <mat-option value="Completed">Completed</mat-option>
                    </mat-select>
                    <mat-error *ngIf="leagueForm.get('status')?.hasError('required') && leagueForm.get('status')?.touched">
                        League status is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="actions">
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
            <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
        </div>
    </form>
</div>