<div class="wrapper">
    <div class="container">
        <div class="top-menu">
            <div class="right-top-menu">
                <button mat-stroked-button class="login" style="font-size: 8px; padding: 10px; height:25px">LOGIN</button>
                <button mat-flat-button style="font-size: 8px; padding: 10px; height:25px" color="primary" class="register">REGISTER</button>
                <button [routerLink]="'/admin'" mat-flat-button style="font-size: 8px; padding: 10px; height:25px" color="primary" class="register">DASHBOARD</button>
            </div>
        </div>
        <div class="bottom-menu">
            <h1 class="logo">
                <img src="../../../../assets/logo.png" alt="logo" width="150px">
            </h1>
            <div class="content-items">
                <div class="item">HOME</div>
                <div class="item">NEWS</div>
                <div class="item">TEAMS</div>
                <div class="item">VOTES</div>
                <div class="item">BRACKETS</div>
                <div class="item">ABOUT</div>
                <div class="item">CONTACT</div>
            </div>
        </div>
    </div>
</div>
