.wrapper
    width: 100%
    display: flex
    justify-content: center
    .container
        width: 90%
        display: flex
        align-items: center
        .logo
            cursor: pointer
            width: 200px
            display: flex
            justify-content: center
        .menu
            width: 100%
        
                
            .middle
                height: 5.3rem

    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    // .wrapper
//     width: 100%
//     display: flex
//     justify-content: center
//     align-items: center
//     position: relative
//     .container
//         width: 90%
//         .top-menu
//             display: flex
//             align-content: center
//             justify-content: flex-end
//             padding: 10px 0
//             border-bottom: solid 1px
//             border-color: #c7c8ca
//             .right-top-menu
//                 display: flex
//                 gap: 5px
                
//                 .register
//                     background-color: #B10019
//                     border-radius: 5px
//                 .login
//                     border-radius: 5px
//         .bottom-menu
//             display: flex
//             align-items: center
//             justify-content: space-between
//             // padding: 5px 0
            
//             .menu 
//                 display: flex

//                 .item 
//                     font-size: 18px
//                     cursor: pointer
//                     line-height: 3.33
//                     padding: 10px 20px
//                     cursor: pointer
                   
//                     &:hover
//                         border-bottom: solid 5px #243346
                

//                 .menu-list 
//                     position: absolute
//                     top: calc(100%)
//                     left: 0
//                     background-color: #243346
//                     opacity: 10
//                     list-style: none
//                     display: none
//                     width: 100%
//                     opacity: 0
//                     transition: opacity 0.3s ease
                    
                

//                 .item:hover + .menu-list 
//                     display: block
//                     opacity: 1
                
                


//             // .content-items
//             //     display: flex
//             //     align-items: center
//             //     justify-content: space-between
//             //     gap: 20px
//             //     .item
//             //         font-size: 18px
//             //         cursor: pointer
//             //         line-height: 3.33
//             //         color: #B1001A
//             //         &:hover
//             //             font-weight: 400
//             //             border-bottom: solid 1px #B1001A
//             //     .search-container
//             //             display: flex
//             //             gap: 5px
//             //             padding: 10px
//             //             border-radius: 50px
//             //             border: solid 1px #B1001A
//             //             input
//             //                 width: 300px
//             //                 font-size: 20px
//             //                 outline: none
//             //                 border: none
//             //                 &:focus
//             //                     outline: none
                            

