<div class="wrapper">
    <div class="container">
        <div class="top-menu">
            <h1 class="logo">
                TEAMS
            </h1>
            <div class="right-top-menu">
                <button mat-button class="login">LOGIN</button>
                <button mat-flat-button color="primary" class="register">REGISTER</button>
            </div>
        </div>
        <div class="bottom-menu">
            <div class="item">HOME</div>
            <div class="item">NEWS</div>
            <div class="item">TEAM</div>
        </div>
    </div>
</div>